{% load thumbnail %}

{% extends 'base.html' %}

{% block main_content %}
    <section id="intro" class="one dark cover">
        <div class="container">
            <header>
                <h2 class="alt">Hi! I'm Brian Wilson, a full stack web developer and ops engineer.</h2>
                <p>And this is where I keep my personal projects.</p>
            </header>
            <footer>
                <a href="#projects" class="button scrolly">Projects</a>
            </footer>
        </div>
    </section>

    <section id="projects" class="two">
        <div class="container">
            <header>
                <h2>Projects</h2>
            </header>

            {% for project in projects %}
                {% if forloop.first or forloop.counter0|divisibleby:"3" %}
                <div class="row">
                {% endif %}
                    <div class="4u">
                        <article class="item">
                            <a href="{{ project.url }}" class="image fit"><img src="{{ project.image.url }}" alt="{{ project.title }}" /></a>
                            <header>
                                <h3>{{ project.title }}</h3>
                                <p>{{ project.description }}</p>
                            </header>
                        </article>
                    </div>
                {% if forloop.last or forloop.counter|divisibleby:"3" %}
                </div> <!-- /.row -->
                {% endif %}
            {% endfor %}
        </div>
    </section>

    <section id="about" class="three">
        <div class="container">
            <header>
                <h2>About me</h2>
            </header>
            <p>
                About me goes here.
            </p>
        </div>
    </section>

    <section id="contact" class="four">
        <div class="container">
            <header>
                <h2>Contact</h2>
            </header>
            {% if contact_success %}
            <p id="contact_success">
                Thanks, your message has been sent. I'll be in touch shortly.
            </p>
            {% endif %}
            <p>
                <form method="post" action="">
                {% csrf_token %}
                {{ form.non_field_errors }}
                    <div class="row 50%">
                        <div class="6u">{{ form.sender }}</div>
                        <div class="6u">{{ form.email }}</div>
                    </div>
                    <div class="row 50%">
                        <div class="12u">
                            {{ form.message}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="12u">
                            <input type="submit" value="Send Message" />
                        </div>
                    </div>
                </form>
            </p>
        </div>
    </section>

{% endblock main_content %}

{% block extra_js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/global.js"></script>
{% endblock extra_js %}
